<h1 class="fade-in">Popular cocktails</h1>

<% @cocktails.each do |cocktail| %>
<div class="list fade-in">
  <div class="product">
    <!-- You product code here -->
    <div class="product-upvote">
      <div class="product-arrow"></div>
      <p><%= rand(1..100) %></p>
    </div>
    <div class="product-image" 
         style="background-image: url('<%= cl_image_path cocktail.photo.path, width: 100, height: 100, crop: :scale; %>')">
   </div>
    <div class="product-body">
      <h2>
        <%= link_to cocktail.name, cocktail_path(cocktail) %>
      </h2>
    </div>
    <div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li>
          <a href=""><i class="fa fa-heart"></i></a>
        </li>
        <li>
          <a href=""><i class="fa fa-share"></i></a>
        </li>
        <li>
          <a href=""><i class="fa fa-star"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<% end %>